In [1]:
import pandas as pd
import pandera as pa

pip install pandera

In [2]:
valores_ausentes = ['*****', '***', '****', '###!', '####', 'NULL', '**']
df_inicial = pd.read_csv('ocorrencia.csv', delimiter=';', parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df_inicial.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,NaN,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-234.355.555.556,-464.730.555.556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,01/09/2016,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,NaN,NaN,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,27/11/2013,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,NaN,NaN,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,NaN,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,NaN,NaN,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,27/11/2013,0,1,NÃO
5,52243,52243,52243,52243,52243,INCIDENTE,NaN,NaN,UBATUBA,SP,...,2012-01-06,14:30:00,NaN,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6,50713,50713,50713,50713,50713,INCIDENTE GRAVE,NaN,NaN,CAMPINAS,SP,...,2012-01-07,18:15:00,SIM,FINALIZADA,IG-184/CENIPA/2013,SIM,08/01/2014,0,1,NÃO
7,45334,45334,45334,45334,45334,INCIDENTE,NaN,NaN,BELÉM,PA,...,2012-01-08,19:12:00,NaN,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
8,45391,45391,45391,45391,45391,ACIDENTE,-199.133.333.333,-482.930.555.556,CONCEIÇÃO DAS ALAGOAS,MG,...,2012-01-08,16:00:00,NaN,FINALIZADA,A DEFINIR,NÃO,NaN,0,1,NÃO
9,52244,52244,52244,52244,52244,INCIDENTE,NaN,NaN,UBERLÂNDIA,MG,...,2012-01-08,22:13:00,NaN,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

In [3]:
df_inicial.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_latitude                       object
ocorrencia_longitude                      object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_pais                           object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
total_recomendacoes                        int64
total_aeronaves_envolvidas                 int64
ocorrencia_saida_pista                    object
dtype: object

In [4]:
df_inicial = df_inicial.loc[:,['codigo_ocorrencia', 'codigo_ocorrencia2', 'ocorrencia_classificacao', 'ocorrencia_cidade', 'ocorrencia_uf', 'ocorrencia_aerodromo', 'ocorrencia_dia' , 'ocorrencia_hora', 'total_recomendacoes']]

In [5]:
schema = pa.DataFrameSchema(
columns = {
    "codigo_ocorrencia":pa.Column(pa.Int, nullable=True),  
    "codigo_ocorrencia2":pa.Column(pa.Int, nullable=True), 
    "ocorrencia_classificacao":pa.Column(pa.String, nullable=True),
    "ocorrencia_cidade":pa.Column(pa.String, nullable=True),
    "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
    "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True),
    "ocorrencia_dia":pa.Column(pa.DateTime, nullable=True),
    "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
    "total_recomendacoes":pa.Column(pa.Int, nullable=True)    
}
)

In [6]:
df_inicial.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [7]:
schema.validate(df_inicial)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [8]:
df_inicial.codigo_ocorrencia.is_unique

True

In [9]:
df_inicial.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1905
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [10]:
## Esse comando altera o index para 'codigo_ocorrencia', df_inicial.set_index('codigo_ocorrencia', inplace=True)

In [11]:
df_inicial

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [12]:
df_inicial.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [13]:
df_inicial.iloc[10:15]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,45332,45332,ACIDENTE,VIAMÃO,RS,NaN,2012-01-09,13:30:00,0
11,52245,52245,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-09,13:36:00,0
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0
13,45408,45408,ACIDENTE,ELDORADO,SP,NaN,2012-01-11,13:45:00,1
14,45447,45447,INCIDENTE,RIO BRANCO,AC,NaN,2012-01-13,18:15:00,0

In [14]:
df_inicial['ocorrencia_cidade']

0        PORTO ALEGRE
1           GUARULHOS
2              VIAMÃO
3       SÃO SEBASTIÃO
4            SÃO SEPÉ
            ...
5162            JATAÍ
5163          MARACAÍ
5164    NOVO HAMBURGO
5165         CURITIBA
5166        PETROLINA
Name: ocorrencia_cidade, Length: 5167, dtype: object

In [15]:
df_inicial.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1905
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [16]:
df_inicial.ocorrencia_aerodromo.isnull().sum()

1905

In [17]:
df_inicial.ocorrencia_uf.isnull().sum()

2

In [18]:
df_inicial.loc[df_inicial.ocorrencia_uf.isnull()]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1099,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,0
4728,79956,79956,ACIDENTE,NÃO IDENTIFICADA,NaN,NaN,2021-02-26,11:00:00,0

### Trabalhando com filtros

In [19]:
filtro = df_inicial.ocorrencia_uf.isnull()
df_inicial.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1099,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,0
4728,79956,79956,ACIDENTE,NÃO IDENTIFICADA,NaN,NaN,2021-02-26,11:00:00,0

In [20]:
filtro_hora = df_inicial.ocorrencia_hora.isnull()
df_inicial.loc[filtro_hora]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2974,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,0

In [21]:
df_inicial.count()

codigo_ocorrencia           5167
codigo_ocorrencia2          5167
ocorrencia_classificacao    5167
ocorrencia_cidade           5167
ocorrencia_uf               5165
ocorrencia_aerodromo        3262
ocorrencia_dia              5167
ocorrencia_hora             5166
total_recomendacoes         5167
dtype: int64

In [22]:
filtro_recomendacao = df_inicial.total_recomendacoes > 10
df_inicial.loc[filtro_recomendacao,['ocorrencia_uf','ocorrencia_cidade', ]]

     ocorrencia_uf ocorrencia_cidade
844             DF          BRASÍLIA
1669            SP            SANTOS
2804            ES           VITÓRIA

In [23]:
filtro_classificacao1 = (df_inicial.ocorrencia_classificacao == 'INCIDENTE GRAVE')|(df_inicial.ocorrencia_classificacao == 'INCIDENTE')
filtro_classificacao2 = df_inicial.ocorrencia_uf == 'SP'
df_inicial.loc[filtro_classificacao1 & filtro_classificacao2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0
28,52248,52248,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-21,11:15:00,0
35,52054,52054,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-25,23:00:00,0
36,52055,52055,INCIDENTE,RIBEIRÃO PRETO,SP,NaN,2012-01-25,09:30:00,0
...,...,...,...,...,...,...,...,...,...
5134,80425,80425,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-09,20:30:00,0
5143,80431,80431,INCIDENTE,SANTOS,SP,SBST,2021-12-15,12:30:00,0
5157,80453,80453,INCIDENTE,CAMPINAS,SP,SBKP,2021-12-29,09:00:00,0
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0
5161,80456,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0

In [24]:
filtro_classificacao1 = df_inicial.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'INCIDENTE'])
filtro_classificacao2 = df_inicial.ocorrencia_uf == 'SP'
df_inicial.loc[filtro_classificacao1 & filtro_classificacao2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0
28,52248,52248,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-21,11:15:00,0
35,52054,52054,INCIDENTE,SÃO PAULO,SP,SBMT,2012-01-25,23:00:00,0
36,52055,52055,INCIDENTE,RIBEIRÃO PRETO,SP,NaN,2012-01-25,09:30:00,0
...,...,...,...,...,...,...,...,...,...
5134,80425,80425,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-09,20:30:00,0
5143,80431,80431,INCIDENTE,SANTOS,SP,SBST,2021-12-15,12:30:00,0
5157,80453,80453,INCIDENTE,CAMPINAS,SP,SBKP,2021-12-29,09:00:00,0
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0
5161,80456,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0

In [25]:
filtro_cidade = df_inicial.ocorrencia_cidade.str.contains('TRA|LHA|RIO|CEU')
df_inicial.loc[filtro_cidade]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
14,45447,45447,INCIDENTE,RIO BRANCO,AC,NaN,2012-01-13,18:15:00,0
29,45393,45393,ACIDENTE,RIO DE JANEIRO,RJ,SBJR,2012-01-22,20:25:00,0
30,45397,45397,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,NaN,2012-01-22,19:05:00,2
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,NaN,2012-01-30,13:55:00,0
49,45703,45703,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2012-02-03,02:04:00,0
...,...,...,...,...,...,...,...,...,...
5117,80413,80413,INCIDENTE GRAVE,RIBAS DO RIO PARDO,MS,SSWF,2021-12-01,10:30:00,0
5119,80410,80410,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2021-12-02,09:20:00,0
5128,80424,80424,INCIDENTE,SÃO JOSÉ DO RIO PRETO,SP,SBSR,2021-12-07,19:51:00,0
5132,80438,80438,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2021-12-08,21:35:00,0
5136,80430,80430,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2021-12-10,11:05:00,0

In [26]:
filtro_cidade = df_inicial.ocorrencia_cidade.str[:3] == 'MAR'
df_inicial.loc[filtro_cidade]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0
80,45571,45571,ACIDENTE,MARITUBA,PA,NaN,2012-02-22,13:40:00,9
138,45730,45730,ACIDENTE,MARICÁ,RJ,SDMC,2012-03-23,16:15:00,0
197,53433,53433,ACIDENTE,MARINGÁ,PR,SSXO,2012-04-28,20:00:00,0
204,45831,45831,INCIDENTE GRAVE,MARINGÁ,PR,SBMG,2012-05-03,12:00:00,0
...,...,...,...,...,...,...,...,...,...
5024,80296,80296,INCIDENTE,MARIANA,MG,SWNG,2021-09-15,18:30:00,0
5102,80386,80386,INCIDENTE GRAVE,MARINGÁ,PR,SBMG,2021-11-18,02:35:00,0
5153,80461,80461,INCIDENTE,MARINGÁ,PR,SBMG,2021-12-24,03:30:00,0
5156,80463,80463,INCIDENTE,MARINGÁ,PR,SBMG,2021-12-28,16:11:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0

In [27]:
filtro_dia = df_inicial.ocorrencia_dia.dt.year == 2015
df_inicial.loc[filtro_dia]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1870,52992,52992,INCIDENTE GRAVE,SALVADOR,BA,SBSV,2015-01-01,11:40:00,3
1871,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0
1872,53073,53073,INCIDENTE,TEFÉ,AM,SBTF,2015-01-02,16:28:00,0
1873,53074,53074,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-01-02,20:34:00,0
1874,52976,52976,ACIDENTE,TOLEDO,PR,SBTD,2015-01-04,22:04:00,6
...,...,...,...,...,...,...,...,...,...
2336,60632,60632,INCIDENTE GRAVE,ITABERÁ,SP,NaN,2015-12-24,14:00:00,0
2337,60600,60600,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-25,19:00:00,0
2338,60642,60642,INCIDENTE,SÃO FRANCISCO DO SUL,SC,SSSS,2015-12-26,16:00:00,0
2339,60631,60631,ACIDENTE,MAÇAMBARÁ,RS,NaN,2015-12-28,19:00:00,2
2340,60649,60649,ACIDENTE,PORTO BELO,SC,SDEN,2015-12-31,14:00:00,0

In [28]:
filtro_dia_mes = (df_inicial.ocorrencia_dia.dt.month == 12) & (df_inicial.ocorrencia_dia.dt.year == 2015) & (df_inicial.ocorrencia_dia.dt.day == 12)
df_inicial.loc[filtro_dia_mes]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2314,53627,53627,INCIDENTE,TERESINA,PI,SBTE,2015-12-12,19:05:00,0
2315,60604,60604,INCIDENTE,GOIÂNIA,GO,SBGO,2015-12-12,14:34:00,0
2316,60611,60611,INCIDENTE,SÃO PAULO,SP,SBSP,2015-12-12,15:30:00,0
2317,60613,60613,ACIDENTE,JUSCIMEIRA,MT,SWMO,2015-12-12,08:31:00,0
2318,60629,60629,ACIDENTE,RIO GRANDE,RS,NaN,2015-12-12,10:40:00,0

In [39]:
df_inicial['ocorrencia_data_hora'] = pd.to_datetime(df_inicial.ocorrencia_dia.astype(str) + ' ' + df_inicial.ocorrencia_hora)
df_inicial.ocorrencia_data_hora.astype(str) + ' ' + df_inicial.ocorrencia_hora

0       2012-01-05 20:27:00 20:27:00
1       2012-01-06 13:44:00 13:44:00
2       2012-01-06 13:00:00 13:00:00
3       2012-01-06 17:00:00 17:00:00
4       2012-01-06 16:30:00 16:30:00
                    ...
5162    2021-12-30 20:30:00 20:30:00
5163    2021-12-31 09:30:00 09:30:00
5164    2021-12-31 11:59:00 11:59:00
5165    2021-12-31 15:12:00 15:12:00
5166    2021-12-31 20:30:00 20:30:00
Length: 5167, dtype: object

In [40]:
df_inicial.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_data_hora
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0,2012-01-05 20:27:00
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,2012-01-06 13:44:00
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0,2012-01-06 13:00:00
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0,2012-01-06 17:00:00
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0,2012-01-06 16:30:00
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0,2012-01-06 14:30:00
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0,2012-01-07 18:15:00
7,45334,45334,INCIDENTE,BELÉM,PA,SBBE,2012-01-08,19:12:00,0,2012-01-08 19:12:00
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0,2012-01-08 16:00:00
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0,2012-01-08 22:13:00

In [42]:
df_inicial.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
ocorrencia_data_hora        datetime64[ns]
dtype: object

In [56]:
filtro_mes = df_inicial.ocorrencia_data_hora.dt.month == 11
filtro_ano = df_inicial.ocorrencia_data_hora.dt.year == 2015
filtro_dia_inicio = df_inicial.ocorrencia_data_hora.dt.day >= 12
filtro_dia_fim = df_inicial.ocorrencia_data_hora.dt.day <= 18
df_inicial.loc[filtro_mes & filtro_dia_fim & filtro_ano & filtro_dia_inicio]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_data_hora
2285,53601,53601,ACIDENTE,PARANATINGA,MT,NaN,2015-11-13,14:00:00,0,2015-11-13 14:00:00
2286,53567,53567,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,SBJR,2015-11-16,18:37:00,0,2015-11-16 18:37:00
2287,53568,53568,INCIDENTE GRAVE,MANAUS,AM,SWFN,2015-11-17,17:55:00,1,2015-11-17 17:55:00
2288,53572,53572,ACIDENTE,MIRACATU,SP,NaN,2015-11-17,15:55:00,1,2015-11-17 15:55:00

In [69]:
filtro_data_inicio = df_inicial.ocorrencia_data_hora >= '2012-12-20 00:01:00'
filtro_data_fim = df_inicial.ocorrencia_data_hora <= '2012-12-26 23:59:00'
ocorrencias_natal_2013 = df_inicial.loc[filtro_data_inicio & filtro_data_fim]

In [70]:
ocorrencias_natal_2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 623 to 636
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   codigo_ocorrencia         14 non-null     int64
 1   codigo_ocorrencia2        14 non-null     int64
 2   ocorrencia_classificacao  14 non-null     object
 3   ocorrencia_cidade         14 non-null     object
 4   ocorrencia_uf             14 non-null     object
 5   ocorrencia_aerodromo      7 non-null      object
 6   ocorrencia_dia            14 non-null     datetime64[ns]
 7   ocorrencia_hora           14 non-null     object
 8   total_recomendacoes       14 non-null     int64
 9   ocorrencia_data_hora      14 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(5)
memory usage: 1.2+ KB

In [71]:
ocorrencias_natal_2013

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_data_hora
623,46753,46753,ACIDENTE,ITÁPOLIS,SP,NaN,2012-12-20,13:30:00,2,2012-12-20 13:30:00
624,46756,46756,INCIDENTE GRAVE,CAMPINAS,SP,SDAM,2012-12-20,09:55:00,0,2012-12-20 09:55:00
625,46750,46750,ACIDENTE,IPIRANGA DO NORTE,MT,NaN,2012-12-21,17:30:00,0,2012-12-21 17:30:00
626,46755,46755,INCIDENTE GRAVE,RIBEIRÃO PRETO,SP,SBRP,2012-12-21,09:43:00,0,2012-12-21 09:43:00
627,46760,46760,INCIDENTE,CONFINS,MG,NaN,2012-12-21,01:40:00,0,2012-12-21 01:40:00
628,46761,46761,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2012-12-21,14:30:00,0,2012-12-21 14:30:00
629,46762,46762,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2012-12-21,19:15:00,0,2012-12-21 19:15:00
630,46764,46764,INCIDENTE,IPIXUNA,AM,NaN,2012-12-22,19:10:00,0,2012-12-22 19:10:00
631,46842,46842,ACIDENTE,ITUIUTABA,MG,NaN,2012-12-22,21:30:00,0,2012-12-22 21:30:00
632,46844,46844,ACIDENTE,GURUPÁ,PA,SNGU,2012-12-22,19:00:00,0,2012-12-22 19:00:00
633,46757,46757,INCIDENTE,CAMPINAS,SP,NaN,2012-12-23,15:20:00,0,2012-12-23 15:20:00
634,46791,46791,INCIDENTE,VÁRZEA GRANDE,MT,SBCY,2012-12-25,18:47:00,0,2012-12-25 18:47:00
635,46792,46792,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-12-26,21:40:00,0,2012-12-26 21:40:00
636,46840,46840,ACIDENTE,PARÁ DE MINAS,MG,NaN,2012-12-26,21:50:00,2,2012-12-26 21:50:00

### Agrupamento de ocorrencias

In [78]:
filtro_data_inicio = df_inicial.ocorrencia_data_hora >= '2015-03-01 00:00:01'
filtro_data_fim = df_inicial.ocorrencia_data_hora <= '2015-03-31 23:59:59'
ocorrencias_03_2015 = df_inicial.loc[filtro_data_inicio & filtro_data_fim]

In [80]:
ocorrencias_03_2015.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_data_hora        37
dtype: int64

In [81]:
ocorrencias_03_2015.groupby(['codigo_ocorrencia']).count() ###Procedimento menos recomendado.

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_data_hora
codigo_ocorrencia,,,,,,,,,
53109,1,1,1,1,1,1,1,1,1
53112,1,1,1,1,0,1,1,1,1
53120,1,1,1,1,1,1,1,1,1
53148,1,1,1,1,1,1,1,1,1
53149,1,1,1,1,1,1,1,1,1
53151,1,1,1,1,1,1,1,1,1
53152,1,1,1,1,1,1,1,1,1
53153,1,1,1,1,1,1,1,1,1
53154,1,1,1,1,1,1,1,1,1
53164,1,1,1,1,0,1,1,1,1
53165,1,1,1,1,0,1,1,1,1
53166,1,1,1,1,0,1,1,1,1
53167,1,1,1,1,1,1,1,1,1
53168,1,1,1,1,1,1,1,1,1
53169,1,1,1,1,1,1,1,1,1
53170,1,1,1,1,1,1,1,1,1
53178,1,1,1,1,0,1,1,1,1
53179,1,1,1,1,0,1,1,1,1
53180,1,1,1,1,0,1,1,1,1
53181,1,1,1,1,0,1,1,1,1
53182,1,1,1,1,0,1,1,1,1
53183,1,1,1,1,0,1,1,1,1
53184,1,1,1,1,0,1,1,1,1
53185,1,1,1,1,1,1,1,1,1
53186,1,1,1,1,0,1,1,1,1
53187,1,1,1,1,1,1,1,1,1
53188,1,1,1,1,1,1,1,1,1
53189,1,1,1,1,1,1,1,1,1
53190,1,1,1,1,1,1,1,1,1
53193,1,1,1,1,0,1,1,1,1
53194,1,1,1,1,1,1,1,1,1
53211,1,1,1,1,1,1,1,1,1
53212,1,1,1,1,1,1,1,1,1
53213,1,1,1,1,1,1,1,1,1
53238,1,1,1,1,0,1,1,1,1
53412,1,1,1,1,0,1,1,1,1
53596,1,1,1,1,0,1,1,1,1

In [83]:
ocorrencias_03_2015.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [84]:
ocorrencias_03_2015.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count() ### Nunca contar por colunas com nulos

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

In [88]:
ocorrencias_03_2015.groupby(['ocorrencia_classificacao']).size().sort_values()

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

In [115]:
filtro_ano = df_inicial.ocorrencia_dia.dt.year == 2012
filtro_sudeste = df_inicial.ocorrencia_uf.isin(['RJ','SP','MG','ES'])
ocorrencias_sudeste_2015 = df_inicial.loc[filtro_ano & filtro_sudeste]

In [116]:
ocorrencias_sudeste_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304 entries, 1 to 644
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   codigo_ocorrencia         304 non-null    int64
 1   codigo_ocorrencia2        304 non-null    int64
 2   ocorrencia_classificacao  304 non-null    object
 3   ocorrencia_cidade         304 non-null    object
 4   ocorrencia_uf             304 non-null    object
 5   ocorrencia_aerodromo      178 non-null    object
 6   ocorrencia_dia            304 non-null    datetime64[ns]
 7   ocorrencia_hora           304 non-null    object
 8   total_recomendacoes       304 non-null    int64
 9   ocorrencia_data_hora      304 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(5)
memory usage: 26.1+ KB

In [117]:
filtro_ano = df_inicial.ocorrencia_dia.dt.year == 2012
filtro_ano = df_inicial.loc[filtro_ano]

In [124]:
ocorrencias_sudeste_2015.groupby([  'ocorrencia_uf', 'ocorrencia_classificacao']).size()

ocorrencia_uf  ocorrencia_classificacao
ES             ACIDENTE                     1
               INCIDENTE                   11
MG             ACIDENTE                    21
               INCIDENTE                   37
               INCIDENTE GRAVE              9
RJ             ACIDENTE                    14
               INCIDENTE                   53
               INCIDENTE GRAVE              5
SP             ACIDENTE                    49
               INCIDENTE                   87
               INCIDENTE GRAVE             17
dtype: int64

In [127]:
ocorrencias_sudeste_2015.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO          36
SÃO PAULO               31
BELO HORIZONTE          25
MACAÉ                   17
CAMPINAS                17
                        ..
GURINHATÃ                1
GUARUJÁ                  1
GUARATINGUETÁ            1
GOVERNADOR VALADARES     1
ITUIUTABA                1
Length: 90, dtype: int64